{% extends 'home/base.html.twig' %}

{% block body %}
<section id="hero" class="jumbotron text-center" style="background-image: url('{{ asset('img/portada.jpg') }}');">
    <div class="container">
        <h1 class="display-4">I.E.S. LAS FUENTEZUELAS - JAÉN</h1>
        <p class="lead">El lugar donde da comienzo tu futuro laboral</p>
    </div>
</section>

<div class="container">
    <h2 class="event-title">Próximos Eventos:</h2>
    <div class="row">
        {% for evento in eventos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="images/{{ evento.imagenUrl }}" class="card-img-top" alt="Imagen del evento">
                <div class="card-body">
                    <h5 class="card-title">{{ evento.titulo }}</h5>
                    <a href="{{ path('descargar_pdf', {'eventoId': evento.id}) }}" class="btn btn-primary">Descargar PDF</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Aquí coloca tu formulario de inicio de sesión -->
            <form action="{{ path('app_login') }}" method="post">
                {# Incluir el token CSRF #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico" name="_username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="_password">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
        </div>

        </div>
    </div>
</div>
{% endblock %}
