{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-15 col-lg-12">
        <form method="post" class="form-signin card shadow-sm p-3 mb-5 bg-white rounded">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal text-center card-header bg-primary text-white">Formulario de Acceso</h1>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Email:</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="d-flex justify-content-between card-footer bg-light">
                <button class="btn btn-primary btn-lg flex-grow-1 mr-2" type="submit">
                    Acceder
                </button>
                <a href="{{ path('app_register') }}" class="btn btn-secondary btn-lg flex-grow-1 ml-2">
                    Registrar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
