{# templates/evento/lista_eventos.html.twig #}

{% extends 'home/base.html.twig' %}

{% block title %}Lista de Eventos - I.E.S. Las Fuentezuelas{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/eventos.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">

        <!-- Eventos vigentes -->
        <h2 class="text-center">Eventos Vigentes</h2>
        <div class="row">
            {% for evento in eventos %}
                {% set fechaActual = "now"|date("Y-m-d") %}
                {% set fechaFin = evento.fechaFin|date("Y-m-d") %}
                {% if fechaFin >= fechaActual %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm h-100 evento-vigente">
                            {% if evento.imagenURL %}
                                {% set imagenPath = asset('images/' ~ evento.imagenURL) %}
                                <div class="card-background" style="background-image: url('{{ imagenPath }}');"></div>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ evento.titulo }}</h5>
                                <p class="card-text">
                                    <strong>Fecha Inicio:</strong> {{ evento.fechaInicio|date('d-m-Y') }}<br>
                                    <strong>Fecha Fin:</strong> {{ evento.fechaFin|date('d-m-Y') }}
                                </p>
                                <a class="btn btn-primary" href="{{ path('descargar_pdf', {'eventoId': evento.id}) }}">Descargar PDF</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Eventos caducados -->
        <h2 class="text-center">Eventos Caducados</h2>
        <div class="row">
            {% for evento in eventos %}
                {% set fechaActual = "now"|date("Y-m-d") %}
                {% set fechaFin = evento.fechaFin|date("Y-m-d") %}
                {% if fechaFin < fechaActual %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm h-100 evento-caducado">
                            {% if evento.imagenURL %}
                                {% set imagenPath = asset('images/' ~ evento.imagenURL) %}
                                <div class="card-background" style="background-image: url('{{ imagenPath }}');"></div>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ evento.titulo }}</h5>
                                <p class="card-text">
                                    <strong>Fecha Inicio:</strong> {{ evento.fechaInicio|date('d-m-Y') }}<br>
                                    <strong>Fecha Fin:</strong> {{ evento.fechaFin|date('d-m-Y') }}
                                </p>
                                <a class="btn btn-primary" href="{{ path('descargar_pdf', {'eventoId': evento.id}) }}">Descargar PDF</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/evento.js') }}"></script>
{% endblock %}
