{% extends 'home/base.html.twig' %}

{% block title %}Lista de Actividades{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/actividad.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-3 text-center">Lista de Actividades</h1>
    <div class="row">
        {% for actividad in actividades %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ actividad.descripcion }}</h5>
                        <p class="card-text">
                            <strong>Fecha Inicio:</strong> {{ actividad.fechaHoraInicio|date('Y-m-d H:i') }}<br>
                            <strong>Fecha Fin:</strong> {{ actividad.fechaHoraFin|date('Y-m-d H:i') }}
                        </p>
                        <a href="#" class="btn btn-primary ver-detalles" data-id="{{ actividad.id }}">Ver detalles</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">No hay actividades disponibles.</p>
            </div>
        {% endfor %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleModalLabel">Detalle de la Actividad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Descripción:</strong> <span id="modalDescripcion"></span></p>
                <p><strong>Fecha Inicio:</strong> <span id="modalFechaInicio"></span></p>
                <p><strong>Fecha Fin:</strong> <span id="modalFechaFin"></span></p>
                <p><strong>Espacio:</strong> <span id="modalEspacio"></span></p>
                <p><strong>Ponentes:</strong></p>
                <ul id="modalPonentes"></ul>
                <p><strong>Grupos:</strong></p>
                <ul id="modalGrupos"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/listaActividades.js') }}"></script>
{% endblock %}
