<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/estilosP.css') }}">
</head>

<body>
  {% block body %}
  <form id="formActividad" method="post" action="{{ path('actividad_create') }}">
    <div class="tabs">
      <div class="tab-container">
        

        <div id="tab4" class="tab">
          <a href="#tab4">Grupos</a>
          <div class="tab-content">
              <table class="w-100">
                  <tr>
                      <td><select class="recursos select-fixed" id="fuenteGrupos" size="10" multiple="multiple"></select></td>
                      <td class="text-center align-middle">
                          <div class="d-flex flex-column align-items-center">
                              <span id="pasarIzqGrupos">&lt;</span>
                              <span id="pasarIzqTodosGrupos">&lt;&lt;</span>
                              <span id="pasarDerGrupos">&gt;</span>
                              <span id="pasarDerTodosGrupos">&gt;&gt;</span>
                          </div>
                      </td>
                      <td class="text-right"><select class="recursos select-fixed" id="seleccionadosGrupos" name="seleccionadosGrupos[]" size="10" multiple="multiple"></select></td>
                  </tr>
              </table>
              <div class="text-right mt-3">
                <input type="submit" class="btn btn-primary" value="Guardar">
              </div>
          </div>
        </div>

        
        <div id="tab3" class="tab">
          <a href="#tab3">Ponentes</a>
          <div class="tab-content">
            <table border="1" id="ponentesTable" class="table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Cargo</th>
                      <th>URL</th>
                      <th>Botones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><input type="text" id="nombre" placeholder="Introduce el nombre" class="form-control"></td>
                      <td><input type="text" id="cargo" placeholder="Introduce el cargo" class="form-control"></td>
                      <td><input type="text" id="url" placeholder="Introduce la URL" class="form-control"></td>
                      <td><button type="button" onclick="agregarPonente()" class="btn btn-primary">Agregar</button></td>
                  </tr>
                  
              </tbody>
          </table>
          </div>
        </div>

        <div id="tab2" class="tab">
          <a href="#tab2">Espacios</a>
          <div class="tab-content">
            <table class="w-100">
              <tr>
                  <td><select class="recursos select-fixed" id="fuenteRecursos" size="10" multiple="multiple"></select></td>
                  <td class="text-center align-middle">
                      <div class="d-flex flex-column align-items-center">
                          <span id="pasarIzqRecursos">&lt;</span>
                          <span id="pasarIzqTodosRecursos">&lt;&lt;</span>
                          <span id="pasarDerRecursos">&gt;</span>
                          <span id="pasarDerTodosRecursos">&gt;&gt;</span>
                      </div>
                  </td>
                  <td><select class="recursos select-fixed" id="seleccionadosRecursos" size="10" multiple="multiple"></select></td>
                  <td><select class="select-fixed" id="selectEspacios" size="10" multiple="multiple"></select></td>
              </tr>
          </table>
          </div>
        </div>
        

        <div id="tab1" class="tab">
          <a href="#tab1">General</a>
          <div class="tab-content">
            <div class="row">
              <div class="col-md-4">
                <label for="valorID">ID:</label>
                <input type="text" class="form-control" id="valorID" name="idPadre">
              </div>
              <div class="col-md-4">
                <label for="tipoActividad">TIPO:</label>
                <select class="form-control" id="tipoActividad">
                  <option value="">-</option>
                  <option value="1">Simple</option>
                  <option value="2">Compuesta</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="evento">EVENTO:</label>
                <select class="form-control" id="evento">
                  <option value="">-</option>
                  <option value="1">Evento1</option>
                  <option value="2">Evento2</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="descripcionID">DESCRIPCIÓN:</label>
                <input type="text" class="form-control" id="descripcionID" name="descripcion">
              </div>
              <div class="col-md-6">
                <label for="aforo">AFORO:</label>
                <input type="text" class="form-control" id="aforo" name="aforo">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="fechaInicio">FECHA DE INICIO:</label>
                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio">
              </div>
              <div class="col-md-6">
                <label for="fechaFin">FECHA DE FIN:</label>
                <input type="date" class="form-control" id="fechaFin" name="fechaFin">
              </div>
              <div class="col-md-12 text-right mt-3">
                <input type="submit" class="btn btn-primary" value="Guardar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endblock %}

  {% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ asset('js/select.js') }}"></script>
  <script src="{{ asset('js/ficheros.js') }}"></script>
  <script src="{{ asset('js/tablaPonentes.js') }}"></script>
  {% endblock %}
</body>
</html>
