<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalles del Evento</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            color: #333;
            background-color: #f7f7f7;
        }
        .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('{{ absolute_url(asset('images/' ~ evento.imagenURL)) }}');
            background-size: cover;
            background-position: center;
            filter: blur(8px);
            z-index: -1;
            opacity: 0.5;
        }
        .container {
            position: relative;
            z-index: 1;
            width: 90%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 8px;
            margin-top: 20px;
        }
        .header {
            text-align: center;
            background-color: #007BFF;
            color: #fff;
            padding: 10px 0;
            border-radius: 8px 8px 0 0;
        }
        h1 {
            margin: 0;
            font-size: 2.5em;
            text-align: center;
        }
        .event-details {
            padding: 20px;
        }
        .event-details h2 {
            color: #007BFF;
            font-size: 1.8em;
            border-bottom: 2px solid #007BFF;
            padding-bottom: 5px;
            text-align: center;
        }
        .activities {
            margin-top: 20px;
        }
        .activity {
            background-color: #e3f2fd;
            padding: 10px;
            margin-bottom: 10px;
            border-left: 5px solid #007BFF;
            border-radius: 4px;
        }
        .activity:nth-child(odd) {
            background-color: #bbdefb;
        }
        .activity strong {
            color: #007BFF;
        }
        .details {
            margin-top: 10px;
            padding: 10px;
            background-color: #f7f7f7;
            border-radius: 4px;
            border: 1px solid #ddd;
            font-style: italic;
        }
        .details + .details {
            margin-top: 20px;
        }
        .footer {
            text-align: center;
            padding: 10px;
            background-color: #007BFF;
            color: #fff;
            border-radius: 0 0 8px 8px;
            margin-top: 20px;
        }
        .datetime {
            display: flex;
            gap: 10px;
        }
        .datetime span {
            flex: 1;
        }
        .ponente {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        .ponente .info {
            display: flex;
            flex-direction: column;
        }
        .ponente .info strong {
            color: #007BFF;
        }
    </style>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="header">
            <h1>{{ 'I.E.S. LAS FUENTEZUELAS' }}</h1>
        </div>
        <div class="event-details">
            <h1>{{ evento.titulo }}</h1>
            <div class="activities">
                <h2>Actividades</h2>
                {% for actividad in actividades %}
                    <div class="activity">
                        <strong>{{ actividad.descripcion }}:</strong>
                        {% for detalle in actividad.detalleActividads %}
                            <div class="details">
                                <strong>{{ detalle.titulo }}</strong> <br>
                                <div class="datetime">
                                    <span><strong>Fecha de Inicio:</strong> {{ detalle.fechaHoraInicio ? detalle.fechaHoraInicio|date('Y-m-d') : 'N/A' }}</span>
                                    <span><strong>Hora de Inicio:</strong> {{ detalle.fechaHoraInicio ? detalle.fechaHoraInicio|date('H:i') : 'N/A' }}</span>
                                </div>
                                <div class="datetime">
                                    <span><strong>Fecha de Fin:</strong> {{ detalle.fechaHoraFin ? detalle.fechaHoraFin|date('Y-m-d') : 'N/A' }}</span>
                                    <span><strong>Hora de Fin:</strong> {{ detalle.fechaHoraFin ? detalle.fechaHoraFin|date('H:i') : 'N/A' }}</span>
                                </div>
                                <strong>Ponentes:</strong>
                                {% if detalle.ponentes|length > 0 %}
                                    <ul>
                                        {% for ponente in detalle.ponentes %}
                                            <li class="ponente">
                                                <div class="info">
                                                    <strong>Nombre: {{ ponente.nombre }}</strong>
                                                    <span>Cargo: {{ ponente.cargo }}</span>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    No hay ponentes asignados.
                                {% endif %}<br>
                                <strong>Grupos:</strong>
                                {% set grupos = [] %}
                                {% for alumno in detalle.alumno %}
                                    {% if alumno.grupo and alumno.grupo not in grupos %}
                                        {% set grupos = grupos|merge([alumno.grupo]) %}
                                    {% endif %}
                                {% endfor %}
                                {% if grupos|length > 0 %}
                                    <ul>
                                        {% for grupo in grupos %}
                                            <li>{{ grupo.nivelEducativo.nombre }} - {{ grupo.nombre }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    No hay grupos asignados.
                                {% endif %}<br>
                                <strong>Espacio:</strong> {{ detalle.espacio ? detalle.espacio.nombre : 'No asignado' }}<br>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer">
            <p>¡No te lo pierdas!</p>
        </div>
    </div>
</body>
</html>
